{% extends 'base.html' %}

{% block body %}
  <form method="post" enctype="multipart/form-data" class="form-signin">
    <h1>Upload document</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-lg btn-primary btn-block">Upload</button>
    <p><a href="{% url 'index' %}" class="btn btn-lg btn-block">Return to home</a></p>
  </form>

{% endblock %}
