{% extends 'base.html' %}
{% block body %}
  <div class="form-signin">
    <h1>Welcome {{ request.user.username | title }}</h1>
    <h3>All Uploads</h3>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr><th>File</th><th>User</th></tr>
      </thead>
      <tbody>
      {% for upload in uploads %}
        <tr>
        <td>
          <a href={{upload.document.url}} data-toggle="lightbox">
            {{upload.filename}}
          </a>
          <img src={{upload.document.url}} class="img-fluid" style="display:none">
        </td>
        <td>{{upload.user.username|title}}</td>
        </tr>
      {% endfor%}
    </tbody>
    </table>
  </form>
  <br/>
  <br/>
  <a href="/upload/" class="btn btn-lg btn-primary btn-block">Upload File</a>
</div>
{% endblock %}
