{% extends 'base.html' %}
{% block body %}
  <form method="POST" action="/login/" class="form-signin">{% csrf_token %}
    <h1 class="form-signin-heading">Sign In</h1>
    <input type="text" placeholder="Username" name="username" id="username" class="form-control"/><br>
    <input type="password" placeholder="Password" name="password" id="password" class="form-control"/><br>
    <input type="submit" class="btn btn-lg btn-primary btn-block">
  </form>
  {% if invalid %}
      invalid credential
  {% endif %}

{% endblock %}
