{% extends 'base.html' %}
{% block body %}
    <form method="POST" action="" class="form-signin">{% csrf_token %}
      <h1 class="form-signin-heading">Register User</h1>
      <input type="text" name="username" id="username" placeholder="Username" class="form-control"/>
      <input type="email" name="email" id="email" placeholder="Email" class="form-control"/>
      <input type="password" name="password" id="password" placeholder="Password" class="form-control"/>
      <input type="submit" class="btn btn-lg btn-primary btn-block">
    </form>
    {% if register %}
        <div>Registered Successfully</div>
    {% elif message %}
        <div>Registration Failed, Reason: {{ message }}</div>
    {% endif %}
{% endblock %}
